@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Concert+One&display=swap');


/* Override defaults */
* {
    padding: 0;
    margin: 0;
}

/* General Styles */

body {
    background: radial-gradient(circle, rgb(230, 9, 9) 0%, rgb(31, 2, 2) 100%);
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;

}

/* Header Section */
header {
    top: 0;
    width: 100%;
    text-align: center;
    padding: .5rem;
}

/* Main Section */
main {
    text-align: center;
}

.main-container {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: 'Chewy', arial, sans-serif;
}

p {
    color: rgb(255, 136, 0);
}

/* js controlled styles */
.display-none {
    display: none;
}

.red {
    background-color: red;
}

#page1,
#page2,
#page3,
#page4,
#page5 {
    /* position needing to be clarified for back button positioning */
    position: relative;
    border: 2px solid rgb(155, 16, 16);
    margin-top: 4rem;
    padding: 2rem;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.324);
    background-color: rgba(14, 2, 2, 0.3);
    color: aliceblue;
    width: 90%;
    min-height: 85%;
}

#landing-page {
    border: 2px solid rgb(155, 16, 16);
    margin: 4rem;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.324);
    background-color: rgba(14, 2, 2, 0.3);
    color: aliceblue;
    width: 80%;
    max-height: 85%
}

#page1 h2,
#page2 h2,
#page3 h2 {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

#page3 h5 {
    padding: 1rem;
}

#page2 h2 {
    padding-top: 2rem;
}


.img-option {
    border: 3px solid rgb(215, 107, 7);
    padding: 10px;
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

#page1 h3 {
    background-color: #4CAF50;
    color: rgb(254, 254, 254);
    padding: 0.3em 0.6em;
    margin-top: 0.5em;
    border-radius: 5px;
    font-size: 0.9rem;
    text-align: center;
}

.selection-option {
    cursor: pointer;
    transition: transform 0.3s ease;
    padding-bottom: 1rem;
}

.selection-option:hover {
    transform: scale(1.05);

}

.selection-option.selected {
    border: 3px solid #4CAF50;

    border-radius: 10px;
}

.back-button {
    position: absolute;
    overflow: hidden;
    bottom: 17.5px;
    right: 17.5px;
    font-size: 1.2rem;
    padding: 0 0.25rem;
    border-radius: 1rem;
    background-color: #00000070;
    color: #ffffff70;
    cursor: pointer;
}

.back-button-text {
    padding-left: 0.1rem;
}

/* Page 2 */

.continent-image {
    max-width: 160px;
    height: auto;
    padding: 15px;
}

/* Hover effect on continents (lets find a better color for this maybe) */
img.continent-image:hover {
    background-color: rgba(255, 136, 0, 0.5);
    border-radius: 35px;
}

.continent-label {
    font-size: 1rem;
    color: rgb(255, 255, 255)fff;
    margin-top: 0.5rem;
}


/* landing page */
.santa-image {
    padding-left: 50px;
    /* height: 680px ; */
}

.be-a-santa-image {
    width: 600px;
}

.lottie-flying-santa-background {
    position: absolute; 
    top: 0;
    bottom: 11rem;
    /* width: 100%; */
    height: auto;
    z-index: -12;
}


.circle {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.align {
    text-align: center;
}

.button-21 {
    width: 130px;
    align-items: center;
    appearance: none;
    background-color: #024342;
    background-image: linear-gradient(1deg, #064f40, #2f8f0c 80%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.margin-15 {
    margin-top: 15px;
}

.white {
    color: #dedede;
}

.button-21:active,
.button-21:focus {
    outline: none;
}

.button-21:hover {
    background-position: -20px -20px;
}

.button-21:focus:not(:active) {
    box-shadow: rgba(148, 57, 4, 0.25) 0 0 0 .125em;
}

.hidden {
    display: none;
}

.square {
    border-radius: 0;
    /* Removes the rounded corners */
}

.button-21:focus:not(:active) {
    box-shadow: rgba(4, 8, 7, 0.25) 0 0 0 .125em;
}

.intro,
.intro ab {
    color: #fff;
}

#giftReceivedImage {
    padding: 10%;
}

#giftImage {
    /* padding: 25%; */
    padding-bottom: 1%;
}

/* contact form */

#contact-form {
    padding: 1.5rem;
}

.form-control {
    min-width: 400px;
}

/* Footer Section */
footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5rem;
    word-wrap: break-word;
    white-space: normal;
    color: #ffffff
}


/* responsivness */
/* for small devinces */
@media screen and (max-width: 768px) {
    .santa-image {
        height: 400px !important;
        max-width: 100%;
        padding-left: 0;
    }

    .be-a-santa-image {
        width: 100%;
    }

    .lottie-flying-santa-background {
        top: 22rem;
        bottom: 0;
        width: 100%;
        height: 57vh;
        z-index: -12;
    }

    .form-control {
        min-width: auto;
        width: 100%;
    }

    #page1,
    #page2,
    #page3,
    #page4,
    #landing-page {
        margin: 2rem 1rem;
        width: auto;
        height: auto;
    }
}

/* For standard laptops */
@media (min-width: 992px) {
    .santa-image {
        padding-left: 50px;
        height: auto;
        max-width: 100%;
    }
}

/* for larger devinces */
@media (min-width: 1200px) {
    .santa-image {
        padding-left: 50px;
        height: auto;
        width: 700px;
        max-width: 100%;
    }
}



/* customizable snowflake styling */
.snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {
    0% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px)
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {
    0% {
        transform: translateX(0px)
    }

    50% {
        transform: translateX(80px)
    }

    100% {
        transform: translateX(0px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s
}

.snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, .5s;
    animation-delay: 6s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s
}


/* Gift Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gift-fadeIn {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}